<h2>Create a new List</h2>

<div class="container">
  <%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file%>
  <%= f.submit %>
  <% end %>
</div>

<%= link_to "Back to Lists",lists_path%>
