<div class="banner" style="background-image: url('<%= cl_image_path @list.photo.key %>')">
  <div>
    <h1><%= @list.name %></h1>
  </div>
  <div class="movies">
    <h3> <%= @list.movies.count%> movies</h3>
  </div>
</div>



</div>


<% @bookmarks.each do |bookmark| %>
  <%= bookmark.movie.title %>
  <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete}  %>
<% end %>

<%= link_to "Add a Movie", new_list_bookmark_path(@list), class:"btn btn-outline-primary"%>
<%= link_to "Back to Lists", lists_path, class:"btn btn-outline-primary" %>
